<a href="https://colab.research.google.com/github/IshaKanani/-data_mgmt_rsch_life_cycle/blob/master/Week_2_Data_management_and_research_lifecycle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

** Objectives of this lab session. **
* Complete week 1
* Learn core data types in Python
* Introduction to pandas, use pandas dataframe to import data from file formats like .csv, .excel, .json. Specific functions include:

>File Type | Read Functions | Write Functions
>--- | --- | ----
>CSV | [`pandas.read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) | [pandas.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)
>JSON |  [`pandas.read_json`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html) | [pandas.to_json](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html)
> Python Pickle | [`pandas.read_pickle`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_pickle.html) | [pandas.to_pickle](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html)
>MS Excel | [`pandas.read_excel`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) | [pandas.to_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)
 
* Write data from Pandas dataframe to different file formats
* Use compressed files and learn objectives of the same

**By the end of this session, a student should be able to complete the following**

* Generate new Pandas string and dataframe objects
* Read and write from different file formats like csv, json, and pickle.
* Undersatnd the pros of compression and implement them

## Core data types in Python

* Numbers
* Strings

## Core data structures
* List
* Dictonaries
* Tuples
* Sets

Function used in the code cell below:
* [type()](https://www.geeksforgeeks.org/python-type-function/) : The function returns the data type of the variable.

Reference:
* [_Introduction to Python: Data types_ by Kranthi Varala](https://www.purdue.edu/hla/sites/varalalab/wp-content/uploads/sites/20/2018/03/Lecture_8.pdf)

In [0]:
A = 5
B = 5.12
D = "UT Austin"
E = {1, 2, 3, 4}
C = [1, 2, 3, 4]

print("A: ", A, ", type(A): ",type(A))
print("B: ", B, ", type(B): ",type(B))
print("C: ", C, ", type(C): ",type(C))
print("D: ", D, ", type(D): ",type(D))
print("E: ", E, ", type(E): ",type(E))

A:  5 , type(A):  <class 'int'>
B:  5.12 , type(B):  <class 'float'>
C:  [1, 2, 3, 4] , type(C):  <class 'list'>
D:  UT Austin , type(D):  <class 'str'>
E:  {1, 2, 3, 4} , type(E):  <class 'set'>

## Pandas 

* Package providing **flexible** data structures
* Work with data - Structured or unstructured
* Perform different functions on data structures using **queries** or in-built functions

## Primary Data structure Types 

1. **Series** -  One dimentional data structure, list like
     * Examples of 1D structures: 
        

2. **Data Frame** - Two dimentional data structure, table like

      * rows as observatios, columns as attributes
      * Examples of 1D structures: 
      
 Functions used:
 1. [pd.Series](https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm): Creates a Series data sctructure
 2. [pd.DataFrame](https://www.tutorialspoint.com/python_pandas/python_pandas_dataframe.htm): Creates a DataFrame data structure

In [0]:
import pandas as pd

A = pd.Series(["Data", "MgMt", "Rsch", "LifeCycle"])
print(A)

A.index = ["a", "b", "c", "d"]
print("\n")
print(A)

B = pd.Series(["Jan", "Feb", "March"], index=["J", "F", "M"])
print("\n")
print(B)

num = {"a": 10, "b": 20, "c": 30, "d": 40}
C = pd.Series(num)
print("\n")
print(C)

0         Data
1         MgMt
2         Rsch
3    LifeCycle
dtype: object


a         Data
b         MgMt
c         Rsch
d    LifeCycle
dtype: object


J      Jan
F      Feb
M    March
dtype: object


a    10
b    20
c    30
d    40
dtype: int64

In [0]:
people = pd.DataFrame([["Emily","Present"], ["Chinelo","Present"], ["Rokcy", "Absent"]], columns=["Name", "Week1"])

people

      Name    Week1
0    Emily  Present
1  Chinelo  Present
2    Rokcy   Absent

#File Types

**Text Files**
* CSV: Comma Separated Values
* TSV: Tab Separated Values
    1.  Advantage of using TSV: More clarity distinguishing separator and text
* JSON

** Binary Files**
* Python Pickle
* Excel

##I/O files

* Pandas lets you read from **[14 different file formats](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)**, and one can write the data from pandas dataframe to the same 14 file formats as well.
* Once read from any file, the data is put into the DataFrame format, which makes it easier to perform different operations on them provided by Pandas.
* While writing to different file formats, many formats can also be written in the compressed extension format, hence reducing the disk storage occupied by the file.

##CSV files

* .csv (Comma separated Values) is one of the most common file formats used while transeferring data online.
* The code below demonstrates reading from a .csv file, and writing a part of it to a new .csv file.

Functions Used:
*  [DataFrame.head(n)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html): Provides the first n records of the DataFrame. If n is not provided, by default it shows first 5 rows.

In [0]:
import pandas as pd
nccs_2015 = pd.read_csv("https://nccs-data.urban.org/data/core/2015/nccs.core2015pc.csv")

print(nccs_2015.head(10))

sample = nccs_2015.head()

sample.to_csv("sample_data/nccs_2015.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,6,9,12,14,20,22,29,30,31,69,73,87,95,102,120,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        EIN ACCPER ACTIV1 ACTIV2 ACTIV3                    ADDRESS AFCD  \
0  10015091     12      0      0      0                  PO BOX 13    3
1  10017496     12    149      0      0                 PO BOX 534    3
2  10130427      6    150      0      0     29 LOWELL STREET BOX A    3
3  10132610     12    900    901      0              167 ROGERS RD    3
4  10133442     12    995     65      0                 PO BOX 193    3
5  10145133     12     59    904     62         499 BLACK POINT RD    3
6  10153128      8     30      0      0                 PO BOX 239    3
7  10153960      9    150    179      0                35 MILES ST    3
8  10177170      9    150      0      0  118 NORTHPORT AVE BOX 287    3
9  10179500      9    150      0      0                 PO BOX 626    3

       ASS_BOY      ASS_EOY       BLOCK   ...        TOTREV2      TOTREVP  \
0      72859.0      57145.0  3.4027e+14   ...       109998.0     121129.0
1     236791.0     235622.0  2.3031e+14   ...       110522.0     116010.0
2   55845412.0   57577945.0  2.3001e+14   ...     52152619.0   54444259.0
3          NaN     697033.0  2.3031e+14   ...        35271.0          NaN
4     908993.0     824589.0  2.3018e+14   ...       393145.0     367180.0
5     879487.0     894096.0  2.3005e+14   ...       268849.0     361815.0
6     120105.0     131405.0  2.3018e+14   ...       260375.0     121476.0
7   72203797.0   73562345.0  2.3016e+14   ...     77456603.0   71234249.0
8  121584679.0  131382834.0  2.3027e+14   ...     88135671.0   77314498.0
9  277082693.0  264543529.0  2.3031e+14   ...    256889291.0  232222932.0

  TOTSUPP509 TXEXMPTBNDSPROCEEDS TXREVNUELEVIED170  TXREVNUELEVIED509  \
0   481126.0                 0.0               0.0                0.0
1   549713.0                 0.0               0.0                0.0
2        0.0                 0.0               0.0                0.0
3     8780.0                 0.0               0.0                0.0
4  3575918.0                 0.0               0.0                0.0
5  1606112.0                 0.0               0.0                0.0
6  1101434.0                 0.0               0.0                0.0
7        0.0                 0.0               0.0                0.0
8        0.0                 0.0               0.0                0.0
9        0.0                 0.0               0.0                0.0

   UNSECUREDNOTESEND  VALIDATION_STATE         ZIP    ZIP5
0                0.0               0.0  07927-0013  7927.0
1                0.0               0.0  03911-0534  3911.0
2                0.0               0.0  04240-7639  4240.0
3                0.0               0.0  03904-1449  3904.0
4                0.0               0.0  04268-0193  4268.0
5                0.0               0.0  04074-8616  4074.0
6                0.0               0.0  04276-0239  4276.0
7                0.0               0.0  04543-4047  4543.0
8           214422.0               0.0  04915-6009  4915.0
9                0.0               0.0  04005-0626  4005.0

[10 rows x 154 columns]

##JSON Files

* Reading a .json file: https://s3.amazonaws.com/irs-form-990/index_2011.json
* Printing dataframe to observe the retrieved data
* Writing to a .json file

In [0]:
import pandas as pd

json_df = pd.read_json("https://s3.amazonaws.com/irs-form-990/index_2011.json")

print(json_df.head())

json_df.head().to_json("sample_data/json_df.json")

                                         Filings2011
0  {'EIN': '591971002', 'TaxPeriod': '201009', 'D...
1  {'EIN': '251713602', 'TaxPeriod': '201106', 'D...
2  {'EIN': '232705170', 'TaxPeriod': '201012', 'D...
3  {'EIN': '581805618', 'TaxPeriod': '201106', 'D...
4  {'EIN': '581876019', 'TaxPeriod': '201106', 'D...

##Pickle files

* Pickle files use .pkl extension, it can only be read and modified through Python.
* Not visible for any kind of analysis unless presented in Python console.

In [0]:
import pandas as pd

# The following line starting with "!" is Linux command which downloads dataset from remote GitHub repository.
!cd sample_data/; wget https://github.com/ma-ji/data_mgmt/raw/master/datasets/MasterData_2015.pkl.gz

# The following two lines are Python codes.
pkl_sample = pd.read_pickle("sample_data/MasterData_2015.pkl.gz")
pkl_sample.head()

# You can see notebook is very powerful, you don't have to run a seperate commandline terminal.

--2019-02-09 04:54:00--  https://github.com/ma-ji/data_mgmt/raw/master/datasets/MasterData_2015.pkl.gz
Resolving github.com (github.com)... 192.30.255.113, 192.30.255.112
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/ma-ji/data_mgmt/master/datasets/MasterData_2015.pkl.gz [following]
--2019-02-09 04:54:01--  https://raw.githubusercontent.com/ma-ji/data_mgmt/master/datasets/MasterData_2015.pkl.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13025331 (12M) [application/octet-stream]
Saving to: ‘MasterData_2015.pkl.gz.2’

MasterData_2015.pkl 100%[===================>]  12.42M  --.-KB/s    in 0.09s

2019-02-09 04:54:01 (139 MB/s) - ‘MasterData_2015.pkl.gz.2’ saved [13025331/13025331]

,EIN,NTEE,IRS_URL,TEXT,TEXTTYPE,YEAR,NTEECC
0,261531747,F,https://s3.amazonaws.com/irs-form-990/20152090...,NaN,NaN,2015,F60
1,261532321,E,https://s3.amazonaws.com/irs-form-990/20150043...,CLAIBORNE HEALTHCARE FOUNDATION PROVIDES AN AV...,activityormissiondesc,2015,E11
2,261533139,T,https://s3.amazonaws.com/irs-form-990/20152056...,RENOVATION OF A COMMUNITY BUILDING AND THE IMP...,activityormissiondesc,2015,T31
3,261534877,X,https://s3.amazonaws.com/irs-form-990/20151236...,NaN,NaN,2015,X20
4,261535342,E,https://s3.amazonaws.com/irs-form-990/20154226...,NaN,NaN,2015,E86

##Excel Files

* Binary file type unless opened using a tool
* Tool: MS Excel
* read_exel & to_excel to read and write files

In [0]:
import pandas as pd
# You can directly read an Excel file on Internet, i.e., the file does not have to be downloaded.
sample = pd.read_excel("http://www.esi.utexas.edu/files/Capstone-Topic-and-Mentor-Database.xlsx")
sample.sample(5)

,Research Title,Student,Student Track,Graduating Class,Research Mentor,Mentor Department/Organization,Mentor Website,Mentor Research Keywords,Mentor Email
56,Life History of Pseudopityophthorus species at...,Heidi Harper,Biology,2014.0,John Abbott,"Department of Integrative Biology, College of ...",No longer at UT Austin,NaN,jcabbott@utexas.edu
44,Health Disparities and the Environment,Alice Jean,Biology,2015.0,David Eaton,Lyndon B Johnson School of Public Affairs,https://lbj.utexas.edu/directory/faculty/david...,U.S.-Mexico environmental cooperation; air pol...,eaton@mail.utexas.edu
43,"Groundwater, Surface Water Interactions Along ...",Kendall Yates,Geology,NaN,Marcus Gary,"Department of Geological Sciences, Jackson Sch...",https://www.jsg.utexas.edu/researcher/marcus_gary,karst hydrogeology; natural resource managemen...,mgary@edwardsaquifer.org
42,Green Roof Thermal Responses,Ryan Soutter,Geology,2014.0,Kevan Moffett,"Department of Geological Sciences, Jackson Sch...",https://www.jsg.utexas.edu/researcher/kevan_mo...,hydrologic dynamics; ecohydrology; landscape d...,kbmofett@jsg.utexas.edu
65,Network architecture underlying protein function,Michael Schnebly,Biology,2015.0,Norma Fowler,"Department of Integrative Biology, College of ...",http://www.sbs.utexas.edu/fowler,plant population ecology; plant community ecol...,nfowler@austin.utexas.edu

##Compressed files

* Compressed files are the zipped files that need to be unzipped for the view access.
* Can be used for GitHub upload - file size not to exceed 50 MB (recommended) or 100 MB (required).

In [0]:
sample.to_pickle("sample_data/california_housing_train_head.pkl.gz")

sample.to_csv("sample_data/california_housing_train_head.csv.gzip")

#In-Class Practice:

1. Find data file of any format mentioned above, online or through your device, read it in Python Pandas, students can use the following file for this assignment: https://s3.amazonaws.com/irs-form-990/index_2015.json
2. Print the Dataframe
3. Save the new dataframe to a file format ".pkl.gz"

# Soucres

[Why Pandas](http://pandas.pydata.org/pandas-docs/stable/)

[Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)

[Pandas I/O Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [0]:
import pandas as pd

people = pd.DataFrame([["Emily","Present"], ["Chinelo","Present"], ["Rokcy", "Absent"]], columns=["Name", "Week1"])
print(people)

      Name    Week1
0    Emily  Present
1  Chinelo  Present
2    Rokcy   Absent