<a href="https://colab.research.google.com/github/IshaKanani/-data_mgmt_rsch_life_cycle/blob/master/Week_3_Data_and_file_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Objectives of the Lab Session
* Introduction to basic dataframe functions: To be utilized while analysing potential datasets for THA1
* Merging variables from two or more dataframes: To be utilized while creating a sample dataset for THA1

### By the end of this session, a student should be able to:

* Get the basic idea of how to view different datasets, their particular columns, understand data types of the dataset.
* Perform similar functions for the potential dataset of THA1
* Learn how to merge two or more tables of different datasets
* Compile a sample using values of two or more tables for THA1


### To-do list
1. Install [gephi](https://gephi.org/)
2. Register for a GitHib account: Check any installment requirements for windows, e.g. git bash
3. Install git bash

#Basic DataFrame Functions

* Retrieving first or last n records
* Getting column titles
* Getting values of one or multiple specific columns

##Dataframe Functions: head, tail, list

**Functions used in the code cell below**
1. [pd.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html): Reading data from csv file to python script into Pandas
2. [DataFrame.head(n)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html):  To retrieve first n observations of a dataframe
3. [DataFrame.tail(n)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html): To retrieve last n observations of a dataframe
4. list(DataFrame): To get the column names

In [0]:
import pandas as pd

#The dataset used here is open sorce
#link for reference: https://www.huduser.gov/portal/datasets/fmr.html#2019_data

data = pd.read_excel("https://www.huduser.gov/portal/datasets/fmr/fmr2019/FY19_4050_FMRs.xlsx")
print("1. Getting the first 10 records")
print(data.head(10))

print("\n2. Retrieving last 10 records")
print(data.tail(10))

print("\n3. Getting column values")
print(data.columns)
print(list(data))

1. Getting the first 10 records
    fips2010  fmr_0  fmr_1  fmr_2  fmr_3  fmr_4  state        metro_code  \
0  100199999    581    696    825   1043   1436      1  METRO33860M33860
1  100399999    756    773    888   1252   1501      1  METRO19300M19300
2  100599999    500    503    666    838    941      1  NCNTY01005N01005
3  100799999    706    763    873   1154   1282      1  METRO13820M13820
4  100999999    706    763    873   1154   1282      1  METRO13820M13820
5  101199999    492    501    628    832    887      1  NCNTY01011N01011
6  101399999    473    476    628    814   1103      1  NCNTY01013N01013
7  101599999    457    513    676    886   1031      1  METRO11500M11500
8  101799999    467    579    691    868    958      1  NCNTY01017N01017
9  101999999    472    475    628    846    849      1  NCNTY01019N01019

                                   areaname  county  cousub       countyname  \
0                        Montgomery, AL MSA       1   99999   Autauga County
1             Daphne-Fairhope-Foley, AL MSA       3   99999   Baldwin County
2                        Barbour County, AL       5   99999   Barbour County
3  Birmingham-Hoover, AL HUD Metro FMR Area       7   99999      Bibb County
4  Birmingham-Hoover, AL HUD Metro FMR Area       9   99999    Blount County
5                        Bullock County, AL      11   99999   Bullock County
6                         Butler County, AL      13   99999    Butler County
7      Anniston-Oxford-Jacksonville, AL MSA      15   99999   Calhoun County
8                       Chambers County, AL      17   99999  Chambers County
9                       Cherokee County, AL      19   99999  Cherokee County

  county_town_name  pop2010  acs_2018_2 state_alpha  fmr_type  metro  \
0   Autauga County    54571         829          AL        40      1
1   Baldwin County   182265         879          AL        40      1
2   Barbour County    27457         657          AL        40      0
3      Bibb County    22915         882          AL        40      1
4    Blount County    57322         882          AL        40      1
5   Bullock County    10914         606          AL        40      0
6    Butler County    20947         606          AL        40      0
7   Calhoun County   118572         679          AL        40      1
8  Chambers County    34215         676          AL        40      0
9  Cherokee County    25989         606          AL        40      0

   fmr_pct_chg  fmr_dollar_chg
0    -0.004825              -4
1     0.010239               9
2     0.013699               9
3    -0.010204              -9
4    -0.010204              -9
5     0.036304              22
6     0.036304              22
7    -0.004418              -3
8     0.022189              15
9     0.036304              22

2. Retrieving last 10 records
        fips2010  fmr_0  fmr_1  fmr_2  fmr_3  fmr_4  state        metro_code  \
4757  7214199999    364    373    427    535    577     72  METRO10380N72141
4758  7214399999    431    459    549    728    913     72  METRO41980MM7440
4759  7214599999    431    459    549    728    913     72  METRO41980MM7440
4760  7214799999    335    343    416    558    653     72  NCNTY72923N72923
4761  7214999999    398    408    467    675    818     72  METRO38660M38660
4762  7215199999    431    459    549    728    913     72  METRO41980MM7440
4763  7215399999    354    363    416    575    731     72  METRO38660M49500
4764  7801099999    779    794    970   1215   1311     78  NCNTY78010N78010
4765  7802099999   1034   1225   1523   1908   2059     78  NCNTY78020N78020
4766  7803099999    744    897   1123   1407   1518     78  NCNTY78030N78030

                                      areaname  county  cousub  \
4757   Utuado Municipio, PR HUD Metro FMR Area     141   99999
4758  San Juan-Guaynabo, PR HUD Metro FMR Area     143   99999
4759  San Juan-Guaynabo, PR HUD Metro FMR Area     145   99999
4760             Puerto Rico HUD Nonmetro Area     147   99999
4761              Ponce, PR HUD Metro FMR Area     149   99999
4762  San Juan-Guaynabo, PR HUD Metro FMR Area     151   99999
4763              Yauco, PR HUD Metro FMR Area     153   99999
4764                      St. Croix Island, VI      10   99999
4765                       St. John Island, VI      20   99999
4766                     St. Thomas Island, VI      30   99999

               countyname     county_town_name  pop2010  acs_2018_2  \
4757     Utuado Municipio     Utuado Municipio    33149         415
4758  Vega Alta Municipio  Vega Alta Municipio    39951         530
4759  Vega Baja Municipio  Vega Baja Municipio    59662         530
4760    Vieques Municipio    Vieques Municipio     9301         389
4761   Villalba Municipio   Villalba Municipio    26073         438
4762    Yabucoa Municipio    Yabucoa Municipio    37941         530
4763      Yauco Municipio      Yauco Municipio    42043         389
4764            St. Croix            St. Croix    53234         916
4765             St. John             St. John     4197        1439
4766           St. Thomas           St. Thomas    51181        1061

     state_alpha  fmr_type  metro  fmr_pct_chg  fmr_dollar_chg
4757          PR        40      1     0.028916              12
4758          PR        40      1     0.035849              19
4759          PR        40      1     0.035849              19
4760          PR        40      0     0.069409              27
4761          PR        40      1     0.066210              29
4762          PR        40      1     0.035849              19
4763          PR        40      1     0.069409              27
4764          VI        40      0     0.058952              54
4765          VI        40      0     0.058374              84
4766          VI        40      0     0.058435              62

3. Getting column values
Index(['fips2010', 'fmr_0', 'fmr_1', 'fmr_2', 'fmr_3', 'fmr_4', 'state',
       'metro_code', 'areaname', 'county', 'cousub', 'countyname',
       'county_town_name', 'pop2010', 'acs_2018_2', 'state_alpha', 'fmr_type',
       'metro', 'fmr_pct_chg', 'fmr_dollar_chg'],
      dtype='object')
['fips2010', 'fmr_0', 'fmr_1', 'fmr_2', 'fmr_3', 'fmr_4', 'state', 'metro_code', 'areaname', 'county', 'cousub', 'countyname', 'county_town_name', 'pop2010', 'acs_2018_2', 'state_alpha', 'fmr_type', 'metro', 'fmr_pct_chg', 'fmr_dollar_chg']

##Dataframe Functions: location, partial display

**Functions used in the code cell below**
1. [DataFrame.loc[index]](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html): To retrieve observation at particular index
2. [DataFrame[colname]](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html): To retrieve one or more column values

In [0]:
print("\n4. Getting specific observation based on index location")
print(data.loc[54])

print("\n5. Getting specific columns")
data_ein_desc = data[["areaname", "county"]]
print(data_ein_desc.head(5))

print("\n6. Basic conditions")
print(data[data["fmr_pct_chg"]>0.09].head(10))

4. Getting specific observation based on index location
fips2010                   110999999
fmr_0                            482
fmr_1                            540
fmr_2                            628
fmr_3                            849
fmr_4                            849
state                              1
metro_code          NCNTY01109N01109
areaname             Pike County, AL
county                           109
cousub                         99999
countyname               Pike County
county_town_name         Pike County
pop2010                        32899
acs_2018_2                       606
state_alpha                       AL
fmr_type                          40
metro                              0
fmr_pct_chg                0.0363036
fmr_dollar_chg                    22
Name: 54, dtype: object

5. Getting specific columns
                                   areaname  county
0                        Montgomery, AL MSA       1
1             Daphne-Fairhope-Foley, AL MSA       3
2                        Barbour County, AL       5
3  Birmingham-Hoover, AL HUD Metro FMR Area       7
4  Birmingham-Hoover, AL HUD Metro FMR Area       9

6. Basic conditions
      fips2010  fmr_0  fmr_1  fmr_2  fmr_3  fmr_4  state        metro_code  \
15   103199999    555    558    680    983   1194      1  NCNTY01031N01031
41   108399999    586    685    809   1084   1421      1  METRO26620M26620
44   108999999    586    685    809   1084   1421      1  METRO26620M26620
73   207099999   1004   1068   1312   1813   1814      2  NCNTY02070N02070
80   215099999    954   1031   1222   1646   1652      2  NCNTY02150N02150
85   218599999   1012   1160   1328   1664   1847      2  NCNTY02185N02185
98   400599999    898   1007   1237   1611   1948      4  METRO22380M22380
105  401799999    615    619    796   1067   1182      4  NCNTY04017N04017
160  509999999    555    566    749    938   1012      5  NCNTY05099N05099
189  600799999    808    894   1144   1654   1921      6  METRO17020M17020

                       areaname  county  cousub              countyname  \
15            Coffee County, AL      31   99999           Coffee County
41           Huntsville, AL MSA      83   99999        Limestone County
44           Huntsville, AL MSA      89   99999          Madison County
73   Dillingham Census Area, AK      70   99999  Dillingham Census Area
80    Kodiak Island Borough, AK     150   99999   Kodiak Island Borough
85      North Slope Borough, AK     185   99999     North Slope Borough
98            Flagstaff, AZ MSA       5   99999         Coconino County
105           Navajo County, AZ      17   99999           Navajo County
160           Nevada County, AR      99   99999           Nevada County
189               Chico, CA MSA       7   99999            Butte County

           county_town_name  pop2010  acs_2018_2 state_alpha  fmr_type  metro  \
15            Coffee County    49948         619          AL        40      0
41         Limestone County    82782         717          AL        40      1
44           Madison County   334811         717          AL        40      1
73   Dillingham Census Area     4847        1201          AK        40      0
80    Kodiak Island Borough    13592        1061          AK        40      0
85      North Slope Borough     9430        1180          AK        40      0
98          Coconino County   134421        1129          AZ        40      1
105           Navajo County   107449         722          AZ        40      0
160           Nevada County     8997         643          AR        40      0
189            Butte County   220000         992          CA        40      1

     fmr_pct_chg  fmr_dollar_chg
15      0.098546              61
41      0.128312              92
44      0.128312              92
73      0.092423             111
80      0.151744             161
85      0.125424             148
98      0.095660             108
105     0.102493              74
160     0.164852             106
189     0.153226             152

#In-class Practice:

1. Import "https://www.huduser.gov/portal/datasets/fmr/fmr2018/FY18_4050_FMRs_rev.xlsx" into Pandas Dataframe
2. Print last 15 obdervations
3. Print the observation at the index 122
4. Print the columns "fmr_dollar_chg" & "county_town_name"
5. Print observations where "fmr_dollar_chg" > "150"

#Working with two datasets

##Task 1: Importing both the datasets

In [0]:
import pandas as pd

fmr_2019 = pd.read_excel("https://www.huduser.gov/portal/datasets/fmr/fmr2019/FY19_4050_FMRs.xlsx")

fmr_2018 = pd.read_excel("https://www.huduser.gov/portal/datasets/fmr/fmr2018/FY18_4050_FMRs_rev.xlsx")

print(fmr_2019.head())

print(fmr_2018.head())

    fips2010  fmr_0  fmr_1  fmr_2  fmr_3  fmr_4  state        metro_code  \
0  100199999    581    696    825   1043   1436      1  METRO33860M33860
1  100399999    756    773    888   1252   1501      1  METRO19300M19300
2  100599999    500    503    666    838    941      1  NCNTY01005N01005
3  100799999    706    763    873   1154   1282      1  METRO13820M13820
4  100999999    706    763    873   1154   1282      1  METRO13820M13820

                                   areaname  county  cousub      countyname  \
0                        Montgomery, AL MSA       1   99999  Autauga County
1             Daphne-Fairhope-Foley, AL MSA       3   99999  Baldwin County
2                        Barbour County, AL       5   99999  Barbour County
3  Birmingham-Hoover, AL HUD Metro FMR Area       7   99999     Bibb County
4  Birmingham-Hoover, AL HUD Metro FMR Area       9   99999   Blount County

  county_town_name  pop2010  acs_2018_2 state_alpha  fmr_type  metro  \
0   Autauga County    54571         829          AL        40      1
1   Baldwin County   182265         879          AL        40      1
2   Barbour County    27457         657          AL        40      0
3      Bibb County    22915         882          AL        40      1
4    Blount County    57322         882          AL        40      1

   fmr_pct_chg  fmr_dollar_chg
0    -0.004825              -4
1     0.010239               9
2     0.013699               9
3    -0.010204              -9
4    -0.010204              -9
    fips2010  fmr_0  fmr_1  fmr_2  fmr_3  fmr_4  state        metro_code  \
0  100199999    588    691    829   1055   1451      1  METRO33860M33860
1  100399999    729    762    879   1280   1471      1  METRO19300M19300
2  100599999    491    494    657    824    929      1  NCNTY01005N01005
3  100799999    692    768    882   1176   1315      1  METRO13820M13820
4  100999999    692    768    882   1176   1315      1  METRO13820M13820

                                   areaname  county  cousub      countyname  \
0                        Montgomery, AL MSA       1   99999  Autauga County
1             Daphne-Fairhope-Foley, AL MSA       3   99999  Baldwin County
2                        Barbour County, AL       5   99999  Barbour County
3  Birmingham-Hoover, AL HUD Metro FMR Area       7   99999     Bibb County
4  Birmingham-Hoover, AL HUD Metro FMR Area       9   99999   Blount County

  county_town_name   pop2010  acs_2017_2 state_alpha  fmr_type  metro  \
0   Autauga County   54571.0         822          AL        40      1
1   Baldwin County  182265.0         977          AL        40      1
2   Barbour County   27457.0         671          AL        40      0
3      Bibb County   22915.0         866          AL        40      1
4    Blount County   57322.0         866          AL        40      1

   fmr_pct_chg  fmr_dollar_chg
0     0.008516               7
1    -0.100307             -98
2    -0.020864             -14
3     0.018476              16
4     0.018476              16

In [0]:
len(fmr_2018), len(fmr_2019)

(4769, 4767)

##Task 2: Obtaining required columns

In [0]:
print(list(fmr_2019))
print(list(fmr_2018))

['fips2010', 'fmr_0', 'fmr_1', 'fmr_2', 'fmr_3', 'fmr_4', 'state', 'metro_code', 'areaname', 'county', 'cousub', 'countyname', 'county_town_name', 'pop2010', 'acs_2018_2', 'state_alpha', 'fmr_type', 'metro', 'fmr_pct_chg', 'fmr_dollar_chg']
['fips2010', 'fmr_0', 'fmr_1', 'fmr_2', 'fmr_3', 'fmr_4', 'state', 'metro_code', 'areaname', 'county', 'cousub', 'countyname', 'county_town_name', 'pop2010', 'acs_2017_2', 'state_alpha', 'fmr_type', 'metro', 'fmr_pct_chg', 'fmr_dollar_chg']

In [0]:
fmr_2019_col = fmr_2019[["fips2010", "fmr_pct_chg"]]
print(fmr_2019_col.head())

fmr_2018_col = fmr_2018[["fips2010", "county_town_name"]]
print(fmr_2018_col.sample(5))

    fips2010  fmr_pct_chg
0  100199999    -0.004825
1  100399999     0.010239
2  100599999     0.013699
3  100799999    -0.010204
4  100999999    -0.010204
        fips2010 county_town_name
792   1707399999     Henry County
807   1710399999       Lee County
4400  5107999999    Greene County
2612  2922599999   Webster County
1461  2300724775  Farmington town

##Task3: Merging both the dataframes

Function Used:

[DataFrame.merge() ](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html): To merge two dataframes, variable outputs depending on parameters provided

In [0]:
fmr_2018_2019 = fmr_2019_col.merge(fmr_2018_col, on="fips2010", how="inner")
print(fmr_2018_2019.sample(10))

#fmr_2018_2019.to_pickle("sample_data/ntee_ein_desc.pkl.gz")

        fips2010  fmr_pct_chg           county_town_name
3382  3915199999     0.080893               Stark County
3702  4608799999     0.117798              McCook County
4298  5002321925    -0.026316       East Montpelier town
2657  3008999999     0.004304             Sanders County
4535  5400799999    -0.031056             Braxton County
3747  4704399999     0.100798             Dickson County
93     227599999     0.028067  Wrangell City and Borough
480   1100199999    -0.071389       District of Columbia
240    610999999     0.036573            Tuolumne County
3226  3714599999     0.029112              Person County

# In-class practice.

1. Use the two datasets used above
2. Take random 1,000 samples of each: refer to [function sample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html)
3. Perform merge on both using "fips2010" as implemented in the code cell above.